*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-btn-primary{
    background-color: #578566;
    color: white;
    border: none;
    
}

.my-btn-primary:hover{
    background-color: #425F57;
    color: white;
    border: none;
}
